<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>MiraclePillUITests-055CBB53-57BC-4D74-AD17-B1BB27B463D7</string>
			<key>ProjectPath</key>
			<string>MiraclePill.xcodeproj</string>
			<key>TargetName</key>
			<string>MiraclePillUITests</string>
			<key>TestKind</key>
			<string>UI</string>
			<key>TestName</key>
			<string>MiraclePillUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>10.153086066246033</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>10.144994974136353</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>10.137820959091187</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801910.94363904</real>
													<key>StartTimeInterval</key>
													<real>596801910.90547895</real>
													<key>Title</key>
													<string>Start Test at 2019-11-30 15:48:30.905</string>
													<key>UUID</key>
													<string>5A1A6B99-BF1A-4ED2-B470-9C0DAFC94917</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>596801910.90547895</real>
													<key>StartTimeInterval</key>
													<real>596801910.90547895</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>8867B59B-10C9-4573-B847-27A11CD97B87</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801914.25560105</real>
													<key>StartTimeInterval</key>
													<real>596801910.94534397</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801914.25399196</real>
															<key>StartTimeInterval</key>
															<real>596801910.95026696</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801914.25297499</real>
																	<key>StartTimeInterval</key>
																	<real>596801910.99072397</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>596801913.23505497</real>
																			<key>StartTimeInterval</key>
																			<real>596801913.18595004</real>
																			<key>Title</key>
																			<string>Wait for com.sjvijay.MiraclePill to idle</string>
																			<key>UUID</key>
																			<string>EBBF6BF6-99F0-4EF4-BC59-1CADC1FB2A39</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.sjvijay.MiraclePill</string>
																	<key>UUID</key>
																	<string>B02A9560-F7E7-46EA-823B-6D9CAD3D0523</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.sjvijay.MiraclePill</string>
															<key>UUID</key>
															<string>A89F9FDA-D290-4FCF-B098-1F69175178D5</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>8F1594BB-065D-46CC-802A-8AE64389A67E</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801914.80792296</real>
													<key>StartTimeInterval</key>
													<real>596801914.27251601</real>
													<key>Title</key>
													<string>Set device orientation to FaceUp</string>
													<key>UUID</key>
													<string>707AB0AE-30F6-4465-B700-9884C2E884EE</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801914.85374606</real>
													<key>StartTimeInterval</key>
													<real>596801914.81163394</real>
													<key>Title</key>
													<string>Checking existence of `"fullnameTxtBox" TextField`</string>
													<key>UUID</key>
													<string>CE406AA6-C569-4E10-85A8-4FCA2BC89528</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801915.13592601</real>
													<key>StartTimeInterval</key>
													<real>596801914.85482895</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801914.87984502</real>
															<key>StartTimeInterval</key>
															<real>596801914.85546899</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>B7B692D7-0702-4331-BA33-6D29E9A59EF8</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801914.90462506</real>
															<key>StartTimeInterval</key>
															<real>596801914.88059497</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801914.90413296</real>
																	<key>StartTimeInterval</key>
																	<real>596801914.89709496</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "fullnameTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>B0A9B5DA-30B7-4B7B-B544-83AB512D7E8A</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "fullnameTxtBox" TextField</string>
															<key>UUID</key>
															<string>EEC9E7BA-86A7-42DF-8527-F72EE9BADCA2</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.00717402</real>
															<key>StartTimeInterval</key>
															<real>596801914.905074</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>6B1556AA-9793-4F0A-9DF5-B97AEEB99622</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.13534403</real>
															<key>StartTimeInterval</key>
															<real>596801915.00817597</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>13C06B81-6696-4647-9EB7-B0DF1BC5FD65</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "fullnameTxtBox" TextField</string>
													<key>UUID</key>
													<string>170F9E5B-B4A0-49D6-9A71-826A6369D4EE</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801915.94809496</real>
													<key>StartTimeInterval</key>
													<real>596801915.13738704</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.61538899</real>
															<key>StartTimeInterval</key>
															<real>596801915.13913703</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>00086DE9-4D93-456A-B9C5-FE58158710C4</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.70782495</real>
															<key>StartTimeInterval</key>
															<real>596801915.61636603</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801915.70728099</real>
																	<key>StartTimeInterval</key>
																	<real>596801915.70054495</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "fullnameTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>68C2D62A-5255-4D1D-A31A-C34C490547A3</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "fullnameTxtBox" TextField</string>
															<key>UUID</key>
															<string>7854B86B-300A-4172-A870-4ED586112F84</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.81836402</real>
															<key>StartTimeInterval</key>
															<real>596801915.708269</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>FC247F3A-24A9-43A3-AEEF-BADBE387C4EC</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801915.94644701</real>
															<key>StartTimeInterval</key>
															<real>596801915.82151496</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>3FA25EFF-E90C-4DB5-93C1-728E8D26F1A5</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Type 'Vijay' into "fullnameTxtBox" TextField</string>
													<key>UUID</key>
													<string>11C9E2F6-A583-4DDD-9149-F60EFAF1546E</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801915.98364604</real>
													<key>StartTimeInterval</key>
													<real>596801915.94894195</real>
													<key>Title</key>
													<string>Checking existence of `"addressTxtBox" TextField`</string>
													<key>UUID</key>
													<string>37ADBB27-1BF7-4E94-937A-6E375FAA121E</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801916.22428203</real>
													<key>StartTimeInterval</key>
													<real>596801915.98434901</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.01442504</real>
															<key>StartTimeInterval</key>
															<real>596801915.98478305</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>CDC1656E-DB2B-47EA-AC64-9D1C0514E057</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.05743098</real>
															<key>StartTimeInterval</key>
															<real>596801916.01532996</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801916.05637205</real>
																	<key>StartTimeInterval</key>
																	<real>596801916.04960203</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "addressTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>AB0990F6-4AED-48F1-A7FE-59403BA19F55</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "addressTxtBox" TextField</string>
															<key>UUID</key>
															<string>D4DEE96A-E77A-41ED-BCD7-59DAD5CFF020</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.14941394</real>
															<key>StartTimeInterval</key>
															<real>596801916.05803204</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>EBBE0A01-7E36-4B56-8F1E-57ED7EA2DA2E</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.222422</real>
															<key>StartTimeInterval</key>
															<real>596801916.15038097</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>3582734A-0762-45A4-A3CB-5ACBD060DF49</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "addressTxtBox" TextField</string>
													<key>UUID</key>
													<string>5800DB8E-7D1D-49F3-9F45-5059F77058A1</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801916.60220695</real>
													<key>StartTimeInterval</key>
													<real>596801916.22505903</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.259161</real>
															<key>StartTimeInterval</key>
															<real>596801916.22639</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>B126610A-73C6-4D24-BE9D-80E2A7365464</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.30706406</real>
															<key>StartTimeInterval</key>
															<real>596801916.260396</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801916.306638</real>
																	<key>StartTimeInterval</key>
																	<real>596801916.29946101</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "addressTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>091CA27F-31F5-4F59-AB0E-A3F9340BDCBB</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "addressTxtBox" TextField</string>
															<key>UUID</key>
															<string>B3D22EE2-9917-4376-8426-79C53FD8EE90</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.56354201</real>
															<key>StartTimeInterval</key>
															<real>596801916.30758703</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>E36A71FA-6DBF-468E-B78C-7BAA1759A630</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.60137999</real>
															<key>StartTimeInterval</key>
															<real>596801916.56575</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>EDCF5810-6A52-4C53-B8B0-16F3AE519BA4</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Type 'Prisha Homes' into "addressTxtBox" TextField</string>
													<key>UUID</key>
													<string>7D81AFF3-D2D0-4C1A-BFCA-FBDDF3EEA253</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801917.32309997</real>
													<key>StartTimeInterval</key>
													<real>596801916.60294402</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.63352501</real>
															<key>StartTimeInterval</key>
															<real>596801916.60337102</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>58B4D08B-9027-4BE1-9553-EFB98F0A88FB</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.67372501</real>
															<key>StartTimeInterval</key>
															<real>596801916.63425899</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801916.67337596</real>
																	<key>StartTimeInterval</key>
																	<real>596801916.66933703</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "Done" Button</string>
																	<key>UUID</key>
																	<string>E6678D0B-C333-47AD-8774-73FAD19F854E</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "Done" Button</string>
															<key>UUID</key>
															<string>9A8A28DD-817D-46BC-8C94-F781C395E61C</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801916.77344298</real>
															<key>StartTimeInterval</key>
															<real>596801916.67407298</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>E8A2A4C4-23BF-4FC6-8F28-8FF1F250C45D</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801917.32180703</real>
															<key>StartTimeInterval</key>
															<real>596801916.77717996</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>9C428296-7D16-413F-8FAD-5E6792C502B4</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "Done" Button</string>
													<key>UUID</key>
													<string>0DCC9243-3AE7-445C-A728-5FA796AF18D1</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801917.34782505</real>
													<key>StartTimeInterval</key>
													<real>596801917.32383299</real>
													<key>Title</key>
													<string>Checking existence of `"zipPostalCodeTxtBox" TextField`</string>
													<key>UUID</key>
													<string>A79ED912-32C2-4E08-9E58-568A4CBE5439</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801918.06093597</real>
													<key>StartTimeInterval</key>
													<real>596801917.34880197</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801917.37362504</real>
															<key>StartTimeInterval</key>
															<real>596801917.34916997</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>16D2F9C8-5EB9-48F0-AACB-2E69A89714B9</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801917.40034103</real>
															<key>StartTimeInterval</key>
															<real>596801917.37421203</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801917.39901495</real>
																	<key>StartTimeInterval</key>
																	<real>596801917.39244497</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "zipPostalCodeTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>D6DB5584-074E-44A8-8CF3-D8BE59DA1994</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "zipPostalCodeTxtBox" TextField</string>
															<key>UUID</key>
															<string>825492A0-A2D6-42AD-8545-D6BBBFEC173A</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801917.48278999</real>
															<key>StartTimeInterval</key>
															<real>596801917.40153897</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>7130847A-B25E-45CB-A525-9AE3589AC5BB</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.05760801</real>
															<key>StartTimeInterval</key>
															<real>596801917.48412395</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>230B80C0-8DC5-45C3-9FF0-5B8367E18B79</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "zipPostalCodeTxtBox" TextField</string>
													<key>UUID</key>
													<string>F06ADB77-9D6B-4537-B070-6738F9AF8074</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801918.52682698</real>
													<key>StartTimeInterval</key>
													<real>596801918.06199801</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.29811502</real>
															<key>StartTimeInterval</key>
															<real>596801918.06436503</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>35504718-702B-4E23-8009-F4B5B3A1D97D</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.35847902</real>
															<key>StartTimeInterval</key>
															<real>596801918.29921305</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801918.35748398</real>
																	<key>StartTimeInterval</key>
																	<real>596801918.35067403</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "zipPostalCodeTxtBox" TextField</string>
																	<key>UUID</key>
																	<string>EC002AF5-78DA-4A94-8699-C37495FC08B9</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "zipPostalCodeTxtBox" TextField</string>
															<key>UUID</key>
															<string>EB916104-6392-4B45-A934-A5C870BB47ED</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.49035895</real>
															<key>StartTimeInterval</key>
															<real>596801918.35979402</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>CBD8221B-7EB0-4492-A567-59B78EFA6B41</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.52620304</real>
															<key>StartTimeInterval</key>
															<real>596801918.49135196</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>00199F39-AE0C-420A-9A5F-29E3EF55473E</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Type '600100' into "zipPostalCodeTxtBox" TextField</string>
													<key>UUID</key>
													<string>26193105-229E-46CC-A2A9-3E9E8793382B</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801919.25284195</real>
													<key>StartTimeInterval</key>
													<real>596801918.52849603</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.56037199</real>
															<key>StartTimeInterval</key>
															<real>596801918.52951002</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>0D114BC5-0DCA-47C1-8B22-9CB74A589719</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.60674906</real>
															<key>StartTimeInterval</key>
															<real>596801918.56137502</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801918.60605204</real>
																	<key>StartTimeInterval</key>
																	<real>596801918.59963405</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "Done" Button</string>
																	<key>UUID</key>
																	<string>0070C408-88E6-4730-8B6B-3A70865D112C</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "Done" Button</string>
															<key>UUID</key>
															<string>56D1FD57-3046-413F-96AB-85E3053D6BA5</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801918.69682002</real>
															<key>StartTimeInterval</key>
															<real>596801918.60763395</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>41C698C2-7A53-4C25-B750-7F7025CB55A8</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.25141394</real>
															<key>StartTimeInterval</key>
															<real>596801918.697842</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>4BE4EA09-CE24-4E32-9066-5A7830EBD62C</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "Done" Button</string>
													<key>UUID</key>
													<string>4A385A8D-96B0-469C-9DB3-5204804DA9A2</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801919.92109001</real>
													<key>StartTimeInterval</key>
													<real>596801919.26601696</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.29788399</real>
															<key>StartTimeInterval</key>
															<real>596801919.26679695</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>08FA123E-D6ED-41A4-B69F-749521CB9CB0</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.32423306</real>
															<key>StartTimeInterval</key>
															<real>596801919.29930604</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>596801919.32382798</real>
																	<key>StartTimeInterval</key>
																	<real>596801919.31861901</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting "buyNowBtn" Image</string>
																	<key>UUID</key>
																	<string>091A299C-43F5-4B1F-BCE1-BC310ABE981E</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the "buyNowBtn" Image</string>
															<key>UUID</key>
															<string>41139F8D-C482-43ED-A7B6-B224DF83151B</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.40455496</real>
															<key>StartTimeInterval</key>
															<real>596801919.32487094</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>8FB333FA-AB69-4181-9EAC-47A5BE45ABD8</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.91997504</real>
															<key>StartTimeInterval</key>
															<real>596801919.40576994</real>
															<key>Title</key>
															<string>Wait for com.sjvijay.MiraclePill to idle</string>
															<key>UUID</key>
															<string>D4DEB730-CE03-4485-837B-919724135F68</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap "buyNowBtn" Image</string>
													<key>UUID</key>
													<string>1C46179C-D17C-4FC5-A75D-3DA7BB326955</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801919.93544102</real>
													<key>StartTimeInterval</key>
													<real>596801919.92357695</real>
													<key>Title</key>
													<string>Checking existence of `"successTxt" StaticText`</string>
													<key>UUID</key>
													<string>72BD19DF-D9ED-4E9C-BEB3-21D8B2AB26FF</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>FinishTimeInterval</key>
													<real>596801919.94633496</real>
													<key>StartTimeInterval</key>
													<real>596801919.93644595</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801919.94571996</real>
															<key>StartTimeInterval</key>
															<real>596801919.93713796</real>
															<key>Title</key>
															<string>Find the "successTxt" StaticText</string>
															<key>UUID</key>
															<string>567F9326-96A0-436B-BF39-DBF44808F292</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Verify Label Text</string>
													<key>UUID</key>
													<string>3F758497-551C-4A77-A185-1E82243A7794</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>596801921.03452301</real>
													<key>StartTimeInterval</key>
													<real>596801919.94701898</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot-Success page-Vijay Nirmal’s iPhone_1_1D9EB2EB-9194-4134-BE3B-6233A7A9793D.png</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>0</integer>
																	<key>Name</key>
																	<string>Screenshot-Success page-Vijay Nirmal’s iPhone.png</string>
																	<key>PayloadSize</key>
																	<integer>83694</integer>
																	<key>Timestamp</key>
																	<real>596801919.99015105</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.png</string>
																	<key>UserInfo</key>
																	<dict>
																		<key>Scale</key>
																		<real>2</real>
																	</dict>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>596801919.99113297</real>
															<key>StartTimeInterval</key>
															<real>596801919.99058199</real>
															<key>Title</key>
															<string>Added attachment named 'Screenshot-Success page-Vijay Nirmal’s iPhone.png'</string>
															<key>UUID</key>
															<string>1D9EB2EB-9194-4134-BE3B-6233A7A9793D</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>596801921.03012395</real>
															<key>StartTimeInterval</key>
															<real>596801919.99173105</real>
															<key>Title</key>
															<string>Terminate com.sjvijay.MiraclePill:4416</string>
															<key>UUID</key>
															<string>34D2E110-128C-4D6E-9763-B8F3341E0494</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>558584AE-3911-461D-AC4F-D60FAC590CAA</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>10.135754942893982</real>
											<key>TestIdentifier</key>
											<string>MiraclePillUITests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>32989D97-3F7D-447A-B8B4-5213DAC2088D</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MiraclePillUITests</string>
									<key>TestName</key>
									<string>MiraclePillUITests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>MiraclePillUITests.xctest</string>
							<key>TestName</key>
							<string>MiraclePillUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
